<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
    .p-small {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 7pt;
             }

    </style>
</head>

<body class="bg-light">

<div class='row'>
    <!-- Навигационная панель -->
    {% include "sender/includes/inc_sender_menu.html" %}
</div>
<!--  Основная колонка -->
<div class="container-xxl">
<div class='row'>
    <div class="col-12 mt-3">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="row text-secondary text-center mt-2 mb-2">
    <div class="container d-flex align-items-end justify-content-end bg-secondary mb-2">
        <h6 class="text-secondary"></h6>
    </div>
</div>

<div class='row'>
    <div class="col-12 d-flex align-items-end justify-content-end ">
        <footer>
            <p class="p-small">&copy; Company 2017-2024</p>
        </footer>
    </div>
</div>
    </div>

<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>