{% extends 'sender/base.html' %}
{% block content%}

{% include "sender/includes/inc_sender_header.html" with title=title header=header%}

{% if success_message %}
<div class="alert alert-{% if success_message|slice:1 == 'Р'%}success{% else %}danger{% endif %}">
    {{ success_message }}
</div>
{% endif %}
{% for mailing in mailings %}
<ul class="list-group list-group-item-primary">
    <li class="{% if mailing == mailings|first %}list-group-item text-bg-primary text-wrap{% else %}list-group-item{% endif %}">
        {{ mailing.attempt_date|date:'d-m-Y H:i' }} {{ mailing.newsletter }} {{ mailing.exc_state }} Лог операции: {{ mailing.server_response }}
    </li>
</ul>
{% endfor %}

{% endblock %}
