{% extends 'sender/base.html' %}
{% load crispy_forms_tags %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header=header%}
<div class="col-6">
    <table class="table-primary table-bordered">
        <thead>
        <tr class="table-primary text-center">
            <th scope="col">#</th>
            <th scope="col">&nbsp;Дата старта&nbsp;</th>
            <th scope="col">&nbsp;Дата завершения&nbsp;</th>
            <th scope="col">&nbsp;Текущий статус&nbsp;</th>
            <th scope="col">&nbsp;Сообщение&nbsp;</th>
            <th scope="col">&nbsp;Получатели&nbsp;</th>

        </tr>
        </thead>
        <tbody>
        {% for newsletter in newsletters %}
        <tr class="table-primary text-center">
            <th scope="row">&nbsp;{{ newsletter.id }}&nbsp;</th>
            <td class="table-primary">&nbsp;{{ newsletter.first_sent }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ newsletter.last_sent }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ newsletter.get_status_display }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ newsletter.message }}&nbsp;</td>
            <td class="table-primary text-start">
                <ul>
                {% for r in newsletter.recipients.all %}
                <li>&nbsp;{{ r }}&nbsp;</li>
                    {% endfor %}
                </ul>
                &nbsp;</td>
            {% endfor %}
            </table>


            <td class="table-primary">&nbsp;
            </td>
</div>
<div class="row">
    <div class="container d-flex justify-content-center">
        {% crispy form %}
    </div>
</div>

{% endblock %}

