{% extends 'sender/base.html' %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header='Выберите из списка или создайте новое'%}


<div class="coll-9 mt-3 d-flex justify-content-center">

    <table class="table-primary table-bordered">
        <thead>
        <tr class="table-primary text-center">
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Тело сообщения</th>
            <th scope="col">&nbsp;Опции&nbsp;</th>

        </tr>
        </thead>
        {% for message in messages%}
        <tbody>
        <tr class="table-primary">
            <th scope="row">&nbsp;{{ message.id }}&nbsp;</th>
            <td class="table-primary">&nbsp;{{ message.title }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ message.body|truncatechars:50 }}&nbsp;</td>
            <td class="table-primary">&nbsp;
                <a href="{% url 'sender:message_detail' message.pk %}" class="button btn btn-primary">Подробнее</a>
                <a href="{% url 'sender:message_update' message.pk %}" class="button btn btn-primary">Редактировать</a>
                <a href="{% url 'sender:message_confirm_delete' message.pk %}" class="button btn btn-danger">Удалить</a>&nbsp;
            </td>

        </tr>
        {% endfor %}
    </table>
    </div>
    <div class="container mt-5 text-center">
                <a href="{% url 'sender:home' %}" class="button btn btn-primary">На Главную</a>
                <a href="{% url 'sender:message_create' %}" class="button btn btn-primary">Добавить новое сообщение</a>

    </div>
{% endblock %}