{% extends 'sender/base.html' %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header='Заполните форму'%}

<div class="row">
    <div class="container d-flex justify-content-center">

        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <a href="{% url 'sender:newsletters_list' %}" class="btn btn-info">Отменить</a>
            <button type="submit" class="btn btn-info">Сохранить</button>
        </form>

    </div>
</div>
{% endblock %}