{% extends 'sender/base.html' %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header='Выберите из списка или создайте новую'%}
<div class="row">
    <div class="col-12 mt-2">
        <div class="container p-5 mt-2 rounded bg-primary-subtle">
            {% if newsletters %}
                {% include "sender/includes/table.html" with headers=headers items=newsletters actions=actions %}
            {% else %}
                <h4 class="text-center">У вас пока нет ни одной рассылки</h4>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-2 text-center">
    <a href="{% url 'sender:home' %}" class="button btn btn-outline-primary">На Главную</a>
    <a href="{% url 'sender:newsletter_create' %}" class="button btn btn-outline-primary">Добавить новую рассылку</a>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const confirmButtons = document.querySelectorAll('.confirm-action');
    confirmButtons.forEach(button => {
      button.addEventListener('click', function() {
        const form = button.closest('form');
        form.submit();
      });
    });
  });
</script>
{% endblock %}