{% extends 'sender/base.html' %}
{% load static %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header=newsletter.message.title%}

<div class="col-12 text-center">
    <div class="mt-3 card text-center">
        <div class="card-header bg-secondary">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active bg-primary-subtle text-dark" href="#">Основные данные</a>
                </li>
                {% if user.is_staff or user == newsletter.owner %}
                <li class="nav-item">
                    <a class="nav-link link-light text-dark" href="{% url 'sender:newsletter_update' newsletter.pk %}">Редактировать</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-danger text-dark"
                       href="{% url 'sender:newsletter_confirm_delete' newsletter.pk %}">Удалить</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="card-body bg-primary-subtle">
            <h5 class="card-title">Рассылка №{{ newsletter.id }} ({{ newsletter.get_status_display }})</h5>
            <p class="mt-3 card-text text-center">
            {% if newsletter.status == 'started' or newsletter.status == 'created'%}
                Сроки отправки: c {{ newsletter.first_sent }} - {% if not newsletter.last_sent %}без ограничений{% else %}по {{ newsletter.last_sent }}{% endif %}
            {% elif newsletter.status == 'closed'%}
                Сроки отправки: c {{ newsletter.first_sent }} по {{ newsletter.last_sent }}
            {% else %}
            Не отправлялась
            {% endif %}
            </p>
            <p class="mt-3 card-text text-center">Содержание: {{ newsletter.message }}</p>
            <p class="mt-3 card-text text-start">Получатели:
                {% for r in newsletter.recipients.all %}
                <ul>
                    <li class="text-start">&nbsp;{{ r }}&nbsp;</li>
                </ul>
                {% endfor %}
            </p>
            <p class="mt-3 card-text text-end">Владелец: {{ newsletter.owner }}</p>


            <!--  Форма блокировки рассылки -->
            {% if newsletter.status == 'started' %}
            <form method="post" action="{% url 'sender:newsletter_update' newsletter.pk %}">
                {% csrf_token %}
                <input type="hidden" name="status" value="closed">
                <button type="submit" class="btn btn-outline-danger">
                    Завершить
                </button>
            </form>
            {% endif %}

        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    {% if perms.sender.can_view_all_newsletters%}
    <a href="{% url 'sender:newsletters_list' %}" class="button btn btn-outline-primary">К списку рассылок</a>
    {% else %}
    <a href="{% url 'sender:newsletters_list' %}" class="button btn btn-outline-primary">К списку рассылок</a>
    <a href="{% url 'sender:newsletter_create' %}" class="button btn btn-outline-primary">Добавить новую рассылку</a>
    {% endif %}
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const confirmButtons = document.querySelectorAll('.confirm-action');
    confirmButtons.forEach(button => {
      button.addEventListener('click', function() {
        const form = button.closest('form');
        form.submit();
      });
    });
  });


</script>

{% endblock %}