{% extends 'sender/base.html' %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header=newsletter.message.title%}

<div class="coll-12 d-flex justify-content-center">

    <table class="table-primary table-bordered">
        <thead>
        <tr class="table-primary text-center">
            <th scope="col">#</th>
            <th scope="col">&nbsp;Дата старта&nbsp;</th>
            <th scope="col">&nbsp;Дата завершения&nbsp;</th>
            <th scope="col">&nbsp;Текущий статус&nbsp;</th>
            <th scope="col">&nbsp;Сообщение&nbsp;</th>
            <th scope="col">&nbsp;Получатели&nbsp;</th>
            <th scope="col">&nbsp;Опции&nbsp;</th>

        </tr>
        </thead>
        <tbody>
        <tr class="table-primary text-center">
            <th scope="row">&nbsp;{{ newsletter.id }}&nbsp;</th>
            <td class="table-primary">&nbsp;{{ newsletter.first_sent }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ newsletter.last_sent }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ newsletter.get_status_display }}&nbsp;</td>
            <td class="table-primary">&nbsp;{{ newsletter.message }}&nbsp;</td>
            <td class="table-primary text-start">
                <ul>
                {% for r in newsletter.recipients.all %}
                <li>&nbsp;{{ r }}&nbsp;</li>
                    {% endfor %}
                </ul>
                &nbsp;</td>



            <td class="table-primary">&nbsp;
                <a href="{% url 'sender:newsletter_update' newsletter.pk %}" class="button btn btn-primary">Редактировать</a>
                <a href="{% url 'sender:newsletter_confirm_delete' newsletter.pk %}" class="button btn btn-danger">Удалить</a>&nbsp;
                <a href="{% url 'sender:send_newsletter' newsletter.pk %}" class="button btn btn-danger">Отправить рассылку</a>&nbsp;
            </td>

        </tr>
    </table>
    </div>
    <div class="container mt-5 d-flex justify-content-center">
                <a href="{% url 'sender:newsletters_list' %}" class="button btn btn-primary">К списку рассылок</a>
                <a href="{% url 'sender:newsletter_create' %}" class="button btn btn-primary">Добавить новую рассылку</a>

    </div>


{% endblock %}