{% extends 'sender/base.html' %}
{% block content%}
{% include "sender/includes/inc_sender_header.html" with title=title header='Выберите контакт из списка или создайте новый'%}
<div class="row d-flex justify-content-center">
    <div class="col-8 mt-3">
        <div class="container p-5 mt-2 rounded bg-primary-subtle">
            {% if recipients %}
                {% include "sender/includes/table.html" with headers=headers items=recipients %}
            {% else %}
                <h4 class="text-center">У вас пока нет ни одного клиента</h4>
            {% endif %}
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    {% if perms.sender.can_view_all_clients%}
    <a href="{% url 'sender:home' %}" class="button btn btn-outline-primary">На Главную</a>
    {% else %}
    <a href="{% url 'sender:home' %}" class="button btn btn-outline-primary">На Главную</a>
    <a href="{% url 'sender:recipient_create' %}" class="button btn btn-outline-primary">Добавить нового получателя</a>
    {% endif %}
</div>
{% endblock %}