{% extends 'sender/base.html' %}
{% block content %}
{% include "sender/includes/inc_sender_header.html" with title=title header='Вы действительно ходите удалить запись?'%}

<div class="col-12">
    <div class="row mt-5 text-center">
        <h5>Удалить <strong>{{ client.fullname }}</strong></h5>
        <div class="col-12 d-flex justify-content-center">

            <form method="post">
                {% csrf_token %}
                <a href="{% url 'sender:recipients_list' %}" class="btn btn-info">Отменить</a>
                <button type="submit" class="btn btn-warning">Подтвердить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}